# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# OS
.DS_Store

# VS for Mac
.vscode/

# Dotnet tools
*.db
*.pidb
*.sdf
*.orig

# Logs
*.log

# Others
OfficeSpaceManagementSystem.API/Properties/launchSettings.json
